<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<header>
		<div class="container clear-fix">
			<div class="top-left">
				<a href="#"><img src="../images/logo.png"></a>
			</div>
			<div class="top-item">
				<h2><b>PHÒNG KHÁM CHUYÊN KHOA  </b></h2>
				<p> Vật lý trị liệu - Phục hồi chức năng</p>
			</div>
			<div class="top-right">
				<a href="#"><img src="../images/icon-phone.png"></a>
				<p>Câu hỏi cho bác sĩ</p>
				<p><font color="#4cc1fc">05113941 977</font></p>
			</div>
		</div>
		<hr/>
		<div>
			<div class="container clear-fix">
				<nav class="navbar">
					<a href="">TRANG CHỦ</a>
					<a href="">GIƠÍ THIÊỤ</a>
					<a href="">DỊCH VỤ Y TÊ </a>
					<a href="">Y HỌC THƯỜNG THỨC</a>
					<a href="">ĐẶT LỊCH KHÁM</a>
					<a href=""> TƯ VẤN LIÊN HỆ</a>
				</nav>	
				<div class = "social">
					<a href=""><img src="../images/icon-facebook.png"></a>
					<a href=""><img src="../images/google.png"></a>
					<a href=""><img src="../images/icon-youtube.png"></a>	
				</div>	
			</div>
			<div class ="banner">
				<div class="container">
					<p>
						<a href="">TRANG CHỦ</a>
						<a href="">DỊCH VỤ Y TẾ </a>
					</p>
				</div>		
			</div>
		</div>
		
	</header>
	<main>
		<div class="container clear-fix">
			<aside class="sidebar-left">
				<div class="sidebar-head">
					<div class="human"><h3>NGƯỜI LỚN</h3></div>
					<ul class="list-pro">
						<li><a href="">Đau cổ-vai-tay</a></li>
						<li><a href="">Đau cổ-vai-tay</a></li>
						<li><a href="">Đau cổ-vai-tay</a></li>
						<li><a href="">Đau cổ-vai-tay</a></li>
						<li><a href="">Đau cổ-vai-tay</a></li>
					</ul>
					<div  class="human">
						<h3>TRẺ EM </h3>
					</div>
					
				</div>
				<div class="form">
					<h3>ĐẶT LỊCH KHÁM</h3>
					<form >
						<div class = "divform">
							<input type="text" name="" placeholder=" Họ & Tên"><br>
							<input type="text" name="" placeholder=" Địa chỉ"><br>
							<input type="text" name="" placeholder=" Số điện thoại"><br>
							<input type="date" name="" placeholder=" Thời gian"><br>
							<input class="submit_btn" type="submit" value="ĐẶT LỊCH" >
						</div>
					</form>
				</div>
			</aside>
			<div class = news>
				<ul class="news-list">
					<li class="item">
						<article>
							<img src="../images/new-1.jpg" width="100%">
							<div class="content">
								<h2>ĐAU CỔ VAI TAY</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
							</div>
							<div class="arrow">
								<a href=""><img src="../images/arrow_right.png" ></a>							
							</div>
						</article>
						
					</li>
					<li class="item">
						<article>
							<img src="../images/new-2.jpg" width="100%">
							<div class="content">
								<h2>ĐAU CỘT SỐNG</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
							</div>
							<div class="arrow">
								<a href=""><img src="../images/arrow_right.png" ></a>							
							</div>
						</article>
					</li>
					<li class="item">
						<article>
							<img src="../images/new-3.jpg" width="100%">
							<div class="content">
								<h2>THOÁI VỊ ĐĨA ĐỆM</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
							</div>
							<div class="arrow">
								<a href=""><img src="../images/arrow_right.png" ></a>							
							</div>
						</article>
					</li>
					<li class="item"> 
						<article>
							<img src="../images/new-4.jpg" width="100%">
							<div class="content">
								<h2>CHẬM NÓI</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
							</div>
							<div class="arrow">
								<a href=""><img src="../images/arrow_right.png" ></a>							
							</div>
						</article>
					</li>
					<li class="item">
						<article>
							<img src="../images/new-5.jpg" width="100%">
							<div class="content">
								<h2>ĐAU CỔ VAI TAY</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
							</div>
							<div class="arrow">
								<a href=""><img src="../images/arrow_right.png" ></a>							
							</div>
						</article>
					</li>
					<li class="item">
						<article>
							<img src="../images/new-6.jpg" width="100%">
							<div class="content">
								<h2>ĐAU CỔ VAI TAY</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
							</div>
							<div class="arrow">
								<a href=""><img src="../images/arrow_right.png" ></a>							
							</div>
						</article>
					</li>
					<li class="item">
						<article>
							<img src="../images/new-7.jpg" width="100%">
							<div class="content">
								<h2>ĐAU CỔ VAI TAY</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
							</div>
							<div class="arrow">
								<a href=""><img src="../images/arrow_right.png" ></a>							
							</div>
						</article>
					</li>
					<li class="item">
						<article>
							<img src="../images/new-8.jpg" width="100%">
							<div class="content">
								<h2>ĐAU CỔ VAI TAY</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
							</div>
							<div class="arrow">
								<a href=""><img src="../images/arrow_right.png" ></a>							
							</div>
						</article>
					</li>
					<li class="item">
						<article>
							<img src="../images/new-9.jpg" width="100%">
							<div class="content">
								<h2>ĐAU CỔ VAI TAY</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
							</div>
							<div class="arrow">
								<a href=""><img src="../images/arrow_right.png" ></a>							
							</div>
						</article>
					</li>

				</ul>
			</div>

		</div>

	</main>
	<footer>
		<div class="container clear-fix">
			<div class= "bottem">
				<h3> VỀ PHÒNG KHÁM</h3>
				<ul>
					<li><h4>GIỚI THIỆU CHUNG</h4></li>
					<li><h4>NHÂN LỰC</h4></li>
					<li><h4>TRANG THIẾT BỊ CƠ SỞ VẬT CHẤT</h4></li>
				</ul>
			</div>
			<div class = "bottem">
				<h3> HỖ TRỢ</h3>
				<ul>
					<li><h4>TƯ VẤN SỨC KHỎE</h4></li>
					<li><h4>Y HỌC THƯỜNG THỨC</h4></li>
					<li><h4>ĐẶT LỊCH KHÁM</h4></li>
				</ul>
			</div>
			<div class = "bottem">
				<h3> KẾT NỐI XÃ HỘI</h3>
				<ul>
					<li><a href=""><img src="../images/facebook.png">FACEBOOK</a></li>
					<li><a href=""><img src="../images/igoogle.png">GOOGLE+</a></li>
					<li><a href=""><img src="../images/youtube.png">YOUTUBE</a></li>

				</ul>
			</div>
		</div>
		<hr/>
		<div class="container clear-fix">
			<div class="signa">
				<p class="signa-left">@2015-BẢN QUYỀN THUỘC PHÒNG KHÁM CHUYÊN KHOA</p>
				<p class="signa-right">PHÁT TRIỂN BỞI <font color="#84fbc3">KOVO.VN</font></p>
			</div>
		</div>

	</footer>


</body>
</html>