<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="header_left">
				<a href="#"><img src="../images/logo.png"></a>
				<div class="header_item">
					<p><b>PHÒNG KHÁM CHUYÊN KHOA  </b></p>
					<p> Vật lý trị liệu - Phục hồi chức năng</p>

				</div>
			</div>
			<div class="header_right">
				<a href="#"><img src=""></a>
				Câu hỏi cho bác sĩ
				05113941 977	
			</div>
		</div>

		<div>
			<div class="container">
				<nav>
					<a href="">TRANG CHỦ</a>|
					<a href="">GIƠÍ THIÊỤ</a>|
					<a href="">DỊCH VỤ Y TÊ </a>|
					<a href="">Y HỌC THƯỜNG THỨC</a>|
					<a href="">ĐẶT LỊCH KHÁM</a>|
					<a href=""> TƯ VẤN LIÊN HỆ</a>

					<div class = "social">
						<a href=""><img src="../images/icon-facebook.png"></a>
						<a href=""><img src="../images/google.png"></a>
						<a href=""><img src="../images/icon-youtube.png"></a>	
					</div>	
				</nav>	
			</div>
			<div class ="banner">	
				<a href=""></a>
				<a href=""></a>
			</div>
		</div>
		
	</header>
	<main>
		<div class="container">
			<aside>
				<div>
					<h2>NGƯỜI LỚN</h2>
					<ul>
						<li><a href="">Đau cổ-vai-tay</a></li>
						<li><a href="">Đau cổ-vai-tay</a></li>
						<li><a href="">Đau cổ-vai-tay</a></li>
						<li><a href="">Đau cổ-vai-tay</a></li>
						<li><a href="">Đau cổ-vai-tay</a></li>
					</ul>
					<h2>TRẺ EM </h2>
					
				</div>
				<form>
					<h1>ĐẶT LỊCH KHÁM</h1>
					<input type="text" name="" placeholder=" Họ & Tên"><br>
					<input type="text" name="" placeholder=" Địa chỉ"><br>
					<input type="text" name="" placeholder=" Số điện thoại"><br>
					<input type="date" name="" placeholder=" Thời gian"><br>
					<input type="submit" value="ĐẶT LỊCH" >
				</form>
			</aside>
			<div>
				<ul>
					<li>
						<img src="../images/new-1.jpg">
						<h2>ĐAU CỔ VAI TAY</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
						<div style="height:20px;width:20px;background-color: lightblue;text-align: center;">
							<a href=""><img src="../images/arrow_right.png" ></a>							
						</div>
						
					</li>
					<li>
						<img src="../images/new-2.jpg">
						<h2>ĐAU CỘT SỐNG</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
						<div style="height:20px;width:20px;background-color: lightblue;text-align: center;">
							<a href=""><img src="../images/arrow_right.png" ></a>							
						</div>
					</li>
					<li>
						<img src="../images/new-3.jpg">
						<h2>THOÁI VỊ ĐĨA ĐỆM</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid</p>
						<div style="height:20px;width:20px;background-color: lightblue;text-align: center;">
							<a href=""><img src="../images/arrow_right.png" ></a>							
						</div>
					</li>
					<li>
						<img src="../images/new-4.jpg">
						<h2>CHẬM NÓI</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
						<div style="height:20px;width:20px;background-color: lightblue;text-align: center;">
							<a href=""><img src="../images/arrow_right.png" ></a>							
						</div>
					</li>
					<li>
						<img src="../images/new-5.jpg">
						<h2>ĐAU CỔ VAI TAY</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
						<div style="height:20px;width:20px;background-color: lightblue;text-align: center;">
							<a href=""><img src="../images/arrow_right.png" ></a>							
						</div>
					</li>
					<li>
						<img src="../images/new-6.jpg">
						<h2>ĐAU CỔ VAI TAY</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
						<div style="height:20px;width:20px;background-color: lightblue;text-align: center;">
							<a href=""><img src="../images/arrow_right.png" ></a>							
						</div>
					</li>
					<li>
						<img src="../images/new-7.jpg">
						<h2>ĐAU CỔ VAI TAY</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
						<div style="height:20px;width:20px;background-color: lightblue;text-align: center;">
							<a href=""><img src="../images/arrow_right.png" ></a>							
						</div>
					</li>
					idunt ut labore et dolore magna</p>
				</li>
				<li>
					<img src="../images/new-8.jpg">
					<h2>ĐAU CỔ VAI TAY</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
					<div style="height:20px;width:20px;background-color: lightblue;text-align: center;">
							<a href=""><img src="../images/arrow_right.png" ></a>							
						</div>
				</li>
				<li>
					<img src="../images/new-9.jpg">
					<h2>ĐAU CỔ VAI TAY</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
					<div style="height:20px;width:20px;background-color: lightblue;text-align: center;">
							<a href=""><img src="../images/arrow_right.png" ></a>							
						</div>
				</li>

			</ul>
		</div>

	</div>

</main>
<footer>
	<div class="container">
		<div>
			<h2> VỀ PHÒNG KHÁM</h2>
			<ul>
				<li>GIỚI THIỆU CHUNG</li>
				<li>NHÂN LỰC</li>
				<li>TRANG THIẾT BỊ CƠ SỞ VẬT CHẤT</li>
			</ul>
		</div>
		<div>
			<h2> HỖ TRỢ</h2>
			<ul>
				<li>TƯ VẤN SỨC KHỎE</li>
				<li>Y HỌC THƯỜNG THỨC</li>
				<li>ĐẶT LỊCH KHÁM</li>
			</ul>
		</div>
		<div>
			<h2> KẾT NỐI XÃ HỘI</h2>
			<ul>
				<li><a href=""><img src="../images/icon-facebook.png">FACEBOOK</a></li>
				<li><a href=""><img src="../images/google.png">GOOGLE+</a></li>
				<li><a href=""><img src="../images/icon-youtube.png">YOUTUBE</a></li>

			</ul>
		</div>
	</div>
	<div>
		<p>@2015-BẢN QUYỀN THUỘC PHÒNG KHÁM CHUYÊN KHOA</p>
		<p>PHÁT TRIỂN BỞI KOVO.VN</p>
	</div>
</footer>


</body>
</html>