<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <header class="hearder">
    <div class="header header-top">
      <div class="container clear-fix">
        <div class="top-left">
          <a href="#"><img src="../images/logo.png"></a>
        </div>
        <div class="top-item">
          <h2><b>PHÒNG KHÁM CHUYÊN KHOA </b></h2>
          <p> Vật lý trị liệu - Phục hồi chức năng</p>
        </div>
        <div class="top-right">
          <a href="#"><img src="../images/icon-phone.png"></a>
          <p>Câu hỏi cho bác sĩ</p>
          <p><font color="#4cc1fc">05113941 977</font></p>
        </div>
      </div>
    </div>
    <hr/>
    <div class="header header-bottom">
      <div class="container clear-fix">
        <nav class="navbar">
          <a href="">TRANG CHỦ</a>
          <a href="">GIƠÍ THIÊỤ</a>
          <a href="">DỊCH VỤ Y TÊ </a>
          <a href="">Y HỌC THƯỜNG THỨC</a>
          <a href="">ĐẶT LỊCH KHÁM</a>
          <a href=""> TƯ VẤN LIÊN HỆ</a>
        </nav>  
        <div class = "social">
          <a href=""><img src="../images/icon-facebook.png"></a>
          <a href=""><img src="../images/google.png"></a>
          <a href=""><img src="../images/icon-youtube.png"></a> 
        </div>  
      </div>
      <div class ="header banner">
        <div class="container">
          <ul class="breadcrum">
            <li><a href="">TRANG CHỦ</a></li>
            <li><a href="">DỊCH VỤ Y TẾ </a></li>
          </ul>
        </div>    
      </div>
    </div>
    
  </header>
  <main class="main">
    <div class="container clear-fix">
      <aside class="sidebar-left">
        <div class="sidebar-head">
          <div class="human"><h3>NGƯỜI LỚN</h3></div>
          <div class="list-pro">
            <li><a href="">Đau cổ-vai-tay</a></li>
            <li><a href="">Đau cổ-vai-tay</a></li>
            <li><a href="">Đau cổ-vai-tay</a></li>
            <li><a href="">Đau cổ-vai-tay</a></li>
            <li><a href="">Đau cổ-vai-tay</a></li>
          </div>
          <div  class="human">
            <h3>TRẺ EM </h3>
          </div>
          
        </div>
        <div class="form">
          <h3>ĐẶT LỊCH KHÁM</h3>
          <form >
            <div class = "divform">
              <input type="text" name="" placeholder=" Họ & Tên"><br>
              <input type="text" name="" placeholder=" Địa chỉ"><br>
              <input type="text" name="" placeholder=" Số điện thoại"><br>
              <input type="date" name="" placeholder=" Thời gian"><br>
              <input class="submit_btn" type="submit" value="ĐẶT LỊCH" >
            </div>
          </form>
        </div>
      </aside>
      <div class = news>
        <ul class="news-list">
          <li class="item">
            <article>
              <a href=""><img src="../images/new-1.jpg" width="100%"></a>
              <div class="content">
                <h2><a href="">ĐAU CỔ VAI TAY</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              </div>
              <a href=""  class="arrow"></a> 
            </article>
            
          </li>
          <li class="item">
            <article>
              <a href=""><img src="../images/new-2.jpg" width="100%"></a>
              <div class="content">
              <h2><a href="">ĐAU CỘT SỐNG</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              </div>
              <a href=""  class="arrow"></a> 
            </article>
          </li>
          <li class="item">
            <article>
              <a href=""><img src="../images/new-3.jpg" width="100%"></a>
              <div class="content">
                <h2><a href="">THOÁI VỊ ĐĨA ĐỆM</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              </div>
              <a href=""  class="arrow"></a> 
            </article>
          </li>
          <li class="item"> 
            <article>
              <a href=""><img src="../images/new-4.jpg" width="100%"></a>
              <div class="content">
                <h2><a href="">CHẬM NÓI</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              </div>
              <a href=""  class="arrow"></a> 
            </article>
          </li>
          <li class="item">
            <article>
              <a href=""><img src="../images/new-5.jpg" width="100%"></a> 
              <div class="content">
                <h2><a href="">ĐAU CỔ VAI TAY</a> </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              </div>
              <a href=""  class="arrow"></a> 
            </article>
          </li>
          <li class="item">
            <article>
              <a href=""><img src="../images/new-6.jpg" width="100%"></a> 
              <div class="content">
                <h2><a href="">ĐAU CỔ VAI TAY</a> </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              </div>
              <a href=""  class="arrow"></a> 
            </article>
          </li>
          <li class="item">
            <article>
              <a href=""><img src="../images/new-7.jpg" width="100%"></a> 
              <div class="content">
                <h2><a href="">ĐAU CỔ VAI TAY</a> </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              </div>
              <a href=""  class="arrow"></a> 
            </article>
          </li>
          <li class="item">
            <article>
              <a href=""><img src="../images/new-8.jpg" width="100%"></a> 
              <div class="content">
                <h2><a href="">ĐAU CỔ VAI TAY</a> </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              </div>
              <a href=""  class="arrow"></a> 
            </article>
          </li>
          <li class="item">
            <article>
              <a href=""><img src="../images/new-9.jpg" width="100%"></a> 
              <div class="content">
                <h2><a href="">ĐAU CỔ VAI TAY</a> </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
              </div>
              <a href=""  class="arrow"></a> 
            </article>
          </li>

        </ul>
      </div>

    </div>

  </main>
  <footer class="footer">
    <div class="footer-top">
      <div class="container clear-fix">
        <div class= "block block-left">
          <h3> VỀ PHÒNG KHÁM</h3>
          <ul>
            <li><h4>GIỚI THIỆU CHUNG</h4></li>
            <li><h4>NHÂN LỰC</h4></li>
            <li><h4>TRANG THIẾT BỊ CƠ SỞ VẬT CHẤT</h4></li>
          </ul>
        </div>
        <div class = "block block-center">
          <h3> HỖ TRỢ</h3>
          <ul>
            <li><h4>TƯ VẤN SỨC KHỎE</h4></li>
            <li><h4>Y HỌC THƯỜNG THỨC</h4></li>
            <li><h4>ĐẶT LỊCH KHÁM</h4></li>
          </ul>
        </div>
        <div class = "block block-right">
          <h3> KẾT NỐI XÃ HỘI</h3>
          <ul>
            <li><a href=""><img src="../images/facebook.png">FACEBOOK</a></li>
            <li><a href=""><img src="../images/igoogle.png">GOOGLE+</a></li>
            <li><a href=""><img src="../images/youtube.png">YOUTUBE</a></li>

          </ul>
        </div>
      </div>
    </div>
    <hr/>
    <div class="footer-bottom">
      <div class="container clear-fix">
        <div class="block">
          <p class=" block block-left">@2015-BẢN QUYỀN THUỘC PHÒNG KHÁM CHUYÊN KHOA</p>
          <p class="block block-right">PHÁT TRIỂN BỞI <a href="" class="linkweb">KOVO.VN</a> </p>
        </div>
      </div>
    </div>

  </footer>


</body>
</html>